#Ignore PMMP files
bin/
players/
plugin_data/
plugins/
resource_packs/
worlds/
banned-ips.txt
banned-players.txt
ops.txt
pocketmine.yml
server.lock
server.log
server.properties
white-list.txt
plugin_list.yml
PocketMine-MP.phar